.AuthPage{
    height: 100vh;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}
.AuthHeader{
    height: 100px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.AuthHeader p{
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.AuthCanva{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.AuthCanva_D1{
    width: 50%;
    height: 100%;
}
.AuthCanva_D2{
    width: 50%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    justify-content: flex-end;
}
.AuthMain{
    height: 85vh;
    width: 100%;
    position: absolute;
    top: 100px;
}
.AuthForm{
    height: 500px;
    background-color: #0F0F0F;
    border-radius: 20px;
    margin-top: 50px;
}